extends ./layout.pug

block content 
  h3 Create Account
  p Click the button below to continue account creation progress 
  a(href=magicLink).magic-link-btn Click Here 
  p Alternatively you can copy and paste the following link: 
  p.text-link #{magicLink}