extends ./layout.pug

block content 
  h2 Login to Yizet
  p 
    b Click the button below to securely login. This magic link will expire in 10 minutes.
  a(href=magicLink).magic-link-btn Click Here 
  p Alternatively copy and paste the following link to login: 
  p.text-link #{magicLink}